html, body {
    font-family: 'Raleway',Arial,Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}
.centered {
    margin: 0px auto;
    width: 1200px;
    height: 100%;
}

@media (max-width: 1200px) {
    .centered {
        width: 100%;
    }
}

.footer {
    width: 100%;
    min-height: 130px;
    height: auto;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: url("../img/ville_de_malakoff.jpg") no-repeat right 0;
    margin: 23px 0px 22px 0px;
    padding: 15px;
    box-sizing: border-box;
}
@media (max-width: 950px) {
    .footer {
        background-image: none;
    }
}	
.footer__title {
    text-transform: uppercase;
    color: #363333;
    font-family: 'Dosis',Arial,Verdana,sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 5px 0;
}
.footer__description {
    float: left;
    font-size: 0.8em;
    line-height: 1.5em;
}
h1 {
    color: #641d55;
    font-family: 'Playfair Display',Arial,Verdana,sans-serif;
    font-size: 2.1em;
    line-height: 1.2em;
    letter-spacing: 0.012em;
}
h3 {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Dosis',Arial,Verdana,sans-serif;
    font-size: 1.6em;
    line-height: 1.2em;
    padding: 10px 0 10px 0;
}