@import models._
@(applications: List[(Application, List[Review])], agent: Agent, numberOfReviews: Int)(implicit flash: Flash)
@import java.util.Locale

@main(agent)("Toutes les demandes") {
<style>
    .pem-table {
        width: 100%;
    }
</style>
}{
<div class="mdl-cell mdl-cell--12-col pem-container">
    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp" style="white-space: normal;">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Adresse</th>
            <th class="mdl-data-table__cell--non-numeric">Nom du demandeur</th>
            <th class="mdl-data-table__cell--non-numeric">Date de la demande</th>
            <th class="mdl-data-table__cell--non-numeric">Avancement</th>
            <th class="mdl-data-table__cell--non-numeric">Avis</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
        </tr>
        </thead>
        <tbody>
        @for((application, reviews) <- applications) {
            <tr onclick="window.document.location='@routes.ApplicationController.show(application.id)';">
                <td class="mdl-data-table__cell--non-numeric">@application.address</td>
                <td class="mdl-data-table__cell--non-numeric">@application.name</td>
                <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY", new Locale("fr"))</td>
                <td class="mdl-data-table__cell--non-numeric">@application.status</td>
                <td class="mdl-data-table__cell--non-numeric" style="white-space: nowrap;">@reviews.length / @numberOfReviews</td>
                <td class="mdl-data-table__cell--non-numeric">@application._type</td>
            </tr>
        }
        </tbody>
    </table>
</div>
}