@(application: models.Application, agent: Agent, reviews: List[Review], agents: List[Agent])
@import java.util.Locale

@main(agent)(s"${application.address} (${application._type}) - #${application.id.substring(0,2)}")  {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@@1.0.1/dist/leaflet.js"></script>
    <script src='@routes.Assets.versioned("javascripts/Leaflet+Data.js")'></script>
<style>
.demo-list-item {
    width: 550px;
}
.mdl-list__item-primary-content {
    font-weight: bold;
}
.map__leaflet {
    height: 250px;
}
</style>
}{
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="text-align: center;">
    <div class="map__leaflet mdl-cell mdl-cell--12-col" id="map">
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="text-align: center;">
    <div class="mdl-cell mdl-cell--4-col">
        @application.files.filter(_.endsWith("jpg")).map { file =>
            <img src='@routes.ApplicationController.getImage(file)' style="max-height: 300px; max-width: 300px;">
        }
        @application.files.filter(!_.endsWith("jpg")).map { file =>
            Fichier: <a href='@routes.ApplicationController.getImage(file)'>@file.split('/').last</a>
        }
    </div>

    <ul class="demo-list-item mdl-list mdl-cell mdl-cell--8-col">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Adresse du projet
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.address
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Type
            </span>
            <span class="mdl-list__item-secondary-action">
                @application._type
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Date de dépot
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.creationDate.toString("dd MMM YYYY", new Locale("fr"))
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Nom du demandeur
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.name
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Courriel
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.email
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Téléphone
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.phone
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Avancement
            </span>
            <span class="mdl-list__item-secondary-action">
                @application.status
            </span>
        </li>
        @for((key,value) <- application.fields) {
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              @key
            </span>
            <span class="mdl-list__item-secondary-action">
                @value
            </span>
        </li>
        }
    </ul>


</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h3 class="mdl-cell mdl-cell--12-col">Récapitulatif des avis</h3>
        @if(reviews.isEmpty) {
            <p>Pas encore d'avis</p>
        } else {
        <ul class="demo-list-three mdl-list mdl-cell mdl-cell--8-col mdl-cell--9-col-phone mdl-cell--2-offset-desktop">
            @for(review <- reviews) {
                <li class="mdl-list__item mdl-list__item--three-line">
                    <span class="mdl-list__item-primary-content ">
                      <i class="material-icons mdl-list__item-icon">@if(review.favorable) {check}else{block}</i>
                      <span>@defining(agents.filter(_.id == review.agentId).head){ reviewAgent =>
                          @reviewAgent.qualite.capitalize (@reviewAgent.name)
                      }</span>
                      <span class="mdl-list__item-text-body">
                        @review.comment
                      </span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span>@if(review.favorable) {Favorable}else{Défavorable}</span>
                    </span>
                </li>
            }
        </ul>
        }
    </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
    <form action="@routes.ApplicationController.addReview(application.id)" class="mdl-grid" method="post">
        @defining(reviews.find(_.agentId == agent.id)) { currentReview =>
            <h3 class="mdl-cell mdl-cell--12-col">@if(currentReview.isEmpty) { Ajouter } else { Modifier } mon avis en tant @if("aeiou".contains(agent.qualite.charAt(0).toLower)){ qu'} else { que }@agent.qualite</h3>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-cell mdl-cell--5-col mdl-cell--1-offset" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="favorable" value="true" @if(currentReview.map(_.favorable).getOrElse(false)){checked}>
                <span class="mdl-radio__label">Favorable</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-cell mdl-cell--5-col mdl-cell--1-offset" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="favorable" value="false" @if(currentReview.map(!_.favorable).getOrElse(false)){checked}>
                <span class="mdl-radio__label">Défavorable</span>
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" style="width: 100%;" name="comment">@currentReview.map(_.comment).getOrElse("")</textarea>
                <label class="mdl-textfield__label" for="sample5">Saisir mon commentaire...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--10-col mdl-cell--1-offset">
                @if(currentReview.isEmpty) { Ajouter } else { Modifier } mon avis
            </button>
        }
    </form>
    </div>
</div>
<script>
    var map = L.map('map', {
        zoom: 13,
        center: [0,0],
        minZoom: 11,
        layers: [photoLayer]
    });
    L.control.layers(baseMaps, {}).addTo(map);

	function addressesDataSource(term, response){
    		try { requestAddresses.abort(); } catch(e){}
			requestAddresses = new XMLHttpRequest();
			requestAddresses.open('GET', 'https://api-adresse.data.gouv.fr/search/?type=housenumber&q='+term+'&limit=30', true);
    		requestAddresses.onload = function() {
			  if (requestAddresses.status >= 200 && requestAddresses.status < 400) {
			    // Success!
			    var data = JSON.parse(requestAddresses.responseText);
			    response(data["features"]);
			  } else {
			    response([]);
			  }
			};
			requestAddresses.send();
    	}

	var requestAddresses;

    var address = "@application.address";
    var coordinates = { lat: @application.coordinates.latitude,
                  lng: @application.coordinates.longitude };

    if (coordinates.lat == 0 && coordinates.lng == 0) {
        addressesDataSource("@application.address", function(responses) {
                var coord = responses[0]["geometry"]["coordinates"];
                coordinates = { lat: coord[1], lng: coord[0] };
                setCoordinates(coordinates);
        });
    } else {
        setCoordinates(coordinates);
    }

	function setCoordinates(coordinates) {
	    map.setView(coordinates, 17);
	    L.marker(coordinates, {
			draggable: false,
			clickable: false
		}).addTo(map)
	}
</script>
}