@import models._
@import java.util.Locale

@(applications: List[(Application, List[Review])], agent: Agent)(implicit flash: Flash)

@main(agent)("Mes demandes (en attente de votre avis)")  {

}{
<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp" style="white-space: normal;">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Adresse</th>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
        <th class="mdl-data-table__cell--non-numeric">Date</th>
    </tr>
    </thead>
    <tbody>
    @for((application, reviews) <- applications) {
    <tr onclick="window.document.location='@routes.ApplicationController.show(application.id)';">
        <td class="mdl-data-table__cell--non-numeric">@application.address</td>
        <td class="mdl-data-table__cell--non-numeric">@application._type</td>
        <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY", new Locale("fr"))</td>
    </tr>
    }
    </tbody>
</table>
}